:root {
  --background: #fffcf0; /* 温かみのあるクリームベージュ */
  --foreground: #443322; /* 濃いブラウン（黒より目に優しい） */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}